.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 2px solid var(--color-stone-600);
  border-radius: 16px;
}

.label {
  font-size: var(--font-size-md);
  text-transform: capitalize;
}

.icon.active {
  transform: rotate(180deg);
}

.modal {
  width: 100%;
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  border: 2px solid var(--color-stone-600);
  border-radius: 16px;
  background-color: var(--color-stone-800);
  z-index: 2;
}

.modal button {
  width: 100%;
  padding: 16px;
  font-size: var(--font-size-md);
  text-align: left;
  text-transform: capitalize;
}

.modal > li:not(:last-child) button {
  border-bottom: 1px solid var(--color-stone-600);
}
