.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr);
  column-gap: 48px;
  margin-bottom: 16px;
  padding-bottom: 20px;
  color: var(--color-stone-300);
  font-size: var(--font-size-sm);
  font-weight: 600;
  border-bottom: 2px solid var(--color-stone-600);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
}

.footer > button {
  padding: 10px 14px;
  border: 2px solid var(--color-stone-600);
  border-radius: 8px;
}

.footer > button[type='next'] {
  margin-left: auto;
}
